/* Mobile devices */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

/* Tablets in portrait */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

/* Tablets in landscape / small desktops */
@media (min-width: 769px) and (max-width: 1084px) {
  body {
    font-size: 13px;
  }
}

/* Medium desktops */
@media (min-width: 1085px) and (max-width: 1440px) {
  body {
    font-size: 15px;
  }
}

/* Large desktops */
@media (min-width: 1441px) {
  body {
    font-size: 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.form-control {
  /* min-height: 3px; */
  border-radius: 0.9em;
  font-size: 1em;
}

.form-control.focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 0.01em solid #4d4d4d76;
}

.form-control:disabled {
  background-color: #d5d2c9;
  opacity: 0.3;
}

.btn-secondary {
  color: #6c757d;
  background-color: white;
  border: none;
  border-radius: 1.5em;
  font-size: 1em;
}

.btn-secondary:hover,
.btn-secondary:focus,
.show > .btn-secondary.dropdown-toggle {
  background-color: #656ed3;
  border: none;
}

.btn-secondary:focus {
  box-shadow: none;
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #4d4d4d;
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  min-width: 10em;
  padding: 0.6em 0.2em;
  margin: 0.6em;
  font-size: 0.9rem;
  border-radius: 2rem;
}

.dropdown-item {
  /* color: #4d4d4d; */
}
.dropdown-item:hover,
.dropdown-item:active {
  border-radius: 2rem;
  background-color: rgb(198, 197, 197);
  /* background-color: transparent;  */
  margin: 0.5em 0;
}

.card-body {
  padding: 0.3em 0.6em;
}

.line {
  flex-grow: 1;
  background: #abbed1;
  height: 0.0625em;
}

.mainboard-content {
  width: 100%;
  max-width: 76vw;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

a:hover {
  text-decoration: none;
  color: #656ed3;
}
