$disabled-background-color: #d5d2c9;
$dropdown-background-hover: #C6C6C5;
$btn-txt-color: #6c757d;
$medium-slate-blue: #656ed3;
$line-color: #abbed1;

// Bootstrap Vue Components
.form-control {
    border-radius: 0.9em;
    font-size: 1em;

    &.focus,
    &:focus {
        outline: none;
        box-shadow: none;
        border: 0.01em solid #4d4d4d76;
    }

    &:disabled {
        background-color: $disabled-background-color;
        opacity: 0.3;
    }
}

.btn-secondary {
    color: $btn-txt-color;
    background-color: white;
    border: none;
    border-radius: 1.5em;
    font-size: 1em;

    &:hover,
    &:focus,
    .show>&.dropdown-toggle {
        background-color: $medium-slate-blue;
        border: none;
        box-shadow: none;
        color: white;
    }


    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        color: darken($btn-txt-color, 20%);
        background-color: white;
        border: none;
        box-shadow: none;
    }
}

.dropdown-menu {
    min-width: 10em;
    padding: 0.6em 0.2em;
    margin: 0.6em;
    font-size: 0.9rem;
    border-radius: 2rem;

    .dropdown-item {
        &:hover,
        &:active {
            border-radius: 2rem;
            background-color: $dropdown-background-hover;
            margin: 0.5em 0;
        }
    }
}

.card-body {
    padding: 0.3em 0.6em;
}

// Customized Components
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin base-item {
    @include flex-row-center;
    background: #EAEFF33D;
    border-radius: 0.25em;
    width: 100%;
    padding: 0.5em 0.8em;
    font-size: 1em;
    cursor: pointer;
}

.task-item {
    @include base-item;
    justify-content: space-between;

    &-lead {
        @include flex-row-center;
        flex-grow: 1;
        margin-right: 1em;

        .task-title {
            word-break: break-word;
            white-space: pre-line;
            overflow-wrap: break-word;
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    &-tail {
        svg {
            width: 1.5em;
            height: 1.5em;
        }

        .delete-button {
            cursor: pointer;
        }
    }
}
